<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals Corner</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="./images/favicon2.png" type="image/png" sizes="92x92">
</head>
<body>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col w90">
                    <img src="./images/logo.svg" alt="Logo: Meals Corner">
                </div>
                <div class="hideon-s">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Favorite</a></li>
                        <li><a href="https://agungswebstudio.com">About Us</a></li>
                    </ul>
                </div>
                <div class="col w10 showon-s">
                    <a id="menu-btn" href="#nav" class="col aic" aria-label="Menu icon"><i class="menu fa fa-bars"></i></a>
                </div>
            </div>
        </div>
        <div class="drawer closed">
            <a href="" class="close-btn" aria-label="Close menu"><i class="fa fa-times"></i></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://agungswebstudio.com">About Us</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>