<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="App to find restaurants in Indonesia.">
    <title>Meals Corner</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="./images/favicon2.png" type="image/png" sizes="92x92">
</head>
<body>
    <!-- Skip to content -->
    <a href="#main-content" id="skip">SKIP to content</a>
    <!-- Nav starts -->
    <app-drawer></app-drawer>
    <!-- Nav ends -->

    <main id="main-content">
        <!-- Hero starts -->
        <div class="hero">
            <div class="container aic">
                <div class="row">
                    <div class="col w100 jcc">
                        <h1 class="head tc">Meals Corner</h1>
                    </div>
                    <div class="col w100 jcc">
                        <h2 class="head tc">Restaurant Finder</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero ends -->

        <!-- Main content starts -->
        <div class="container">
            <div class="row">
                <div class="col w100 jcc">
                    <h3 class="tc">Explore Indonesian taste . . </h3>
                </div>
            </div>
            <div class="row category-container jccm">
                <div class="col w100 wm55">
                    <p class="label">Sort by :</p>
                </div>
                <div class="col w100 wm55 jcb">
                    <button class="ctg-button active" aria-label="Sort by name">Name</button>
                    <button class="ctg-button" aria-label="Sort by rating">Rating</button>
                    <button class="ctg-button" aria-label="Sort by city">City</button>
                </div>
            </div>
            <div class="row card-container ais">
            </div>
        </div>
        <!-- Main content ends -->
    </main>

    <!-- Footer starts -->
    <footer class="container clr1">
        <p>Copyright &copy; 2020 - Meals Corner</p>
    </footer>
    <!-- Footer ends -->

</body>
</html>