<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals Corner</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/png" sizes="36x36">
    <link rel="shortcut icon" href="./images/favicon2.png" type="image/png" sizes="92x92">
</head>
<body>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-s12">
                    <img src="./images/logo.svg" alt="Logo: Meals Corner" width="120px">
                </div>
                <div class="hideon-s">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Favorite</a></li>
                        <li><a href="https://agungswebstudio.com">About Us</a></li>
                    </ul>
                </div>
                <div class="showon-s">
                    <a href="">MENU</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>