* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rancho', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}

/* Base */
.container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.row {
    display: flex;
    width: 90%;
}
.col {
    display: flex;
}

/* Utilities */
.clr1 {background-color: #24484E;}
.clr2 {background-color: #204146;}
.clr3 {background-color: #506D71;}
.clr4 {background-color: #D6A685;}
.clr5 {background-color: #E2BB9F;}

.w5 {width: 5%;}
.w10 {width: 10%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w35 {width: 35%;}
.w40 {width: 40;}
.w45 {width: 45%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w65 {width: 65%;}
.w70 {width: 70%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w90 {width: 90%;}
.w95 {width: 95%;}
.w100 {width: 100%;}

.jcs {justify-content: flex-start;}
.jcc {justify-content: center;}
.jce {justify-content: flex-end;}
.jca {justify-content: space-around;}
.jcb {justify-content: space-between;}

.ais {align-items: flex-start;}
.aic {align-items: center;}
.aie {align-items: flex-end;}

.tc {text-align: center;}
.tr {text-align: right;}
.tj {text-align: justify;}

/* Nav */
nav .menu{
    color: #24484E;
}
nav img {
    width: 140px;
}
.fa.menu {
    font-size: 4vh;
}

@media (max-width: 600px) {
    .hideon-s {
        display: none;
    }
    .showon-s {
        display: flex;
    }
}
@media (min-width:601px) {
    .showon-s {
        display: none;
    }
}

/* Drawer */
.drawer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    transition: .2s;
    background-color: #000000a2;
}
.drawer-container.open {
    width: 100%;
}
.drawer {
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #204146;
    transition: .2s;
    overflow: hidden;
}
.drawer.open {
    width: 230px;
}
.drawer ul {
    margin-top: 20px;
    padding: 20px;
}
.drawer li {
    font-size: 24px;
    min-width: max-content;
    list-style-type: none;
    padding: 9px;
    transition: 0.2s;
}
.drawer li:hover {
    transform: translateX(40px);
}
.drawer .close-btn {
    font-size: 33px;
    position: absolute;
    top: 13px;
    right: 19px;
}