* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
body, button {font-family: 'Neucha', Helvetica, sans-serif;}
p,
li {
    font-size: 18px;
    letter-spacing: .4px;
}
a {
    text-decoration: none;
    color: unset;
    padding: 5px 10px;
    display: inline-block;
    min-height: 45px;
    min-width: 45px;
}

/* Base */
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
    display: flex;
    width: 90%;
    max-width: 390px;
    flex-wrap: wrap;
}
.col {
    display: flex;
    flex-wrap: wrap;
}

/* Utilities */
.clr1 {background-color: #004d40;}

.w20 {width: 20%;}
.w25 {width: 25%;}
.w80 {width: 80%;}
.w100 {width: 100%;}

.jcc {justify-content: center;}
.jce {justify-content: flex-end;}
.jcb {justify-content: space-between;}

.ais {align-items: flex-start;}
.aist {align-items: stretch;}
.aic {align-items: center;}

.tc {text-align: center;}
.hide {display: none !important;}
.show {display: block !important;}

/* Nav */
nav {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 0 1px 5px 0 rgba(120,120,120,0.36);
    box-shadow: 0 1px 5px 0 rgba(120,120,120,0.36);
    z-index:10;
}
nav .menu { color: #004d40; }
nav img { width: 140px; }
nav ul {
    margin-block-start: .5em;
    margin-block-end: .5em;
}
#menu-btn { padding: 0 14px; }
.fa.menu { font-size: 4vh; }

@media (max-width: 600px) {
    .hideon-s { display: none; }
    .showon-s { display: flex; }
}
@media (min-width:601px) {
    .showon-s { display: none; }
}

/* Drawer */
.drawer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    transition: .2s;
    background-color: #000000a2;
    z-index: 11;
}
.drawer-container.open { width: 100%; }
.drawer {
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #004d40;
    transition: .2s;
    overflow: hidden;
}
.drawer.open { width: 230px; }
.drawer ul {
    margin-top: 20px;
    padding: 20px;
}
.drawer li {
    display: block;
    font-size: 24px;
    width: 100px;
    list-style-type: none;
    margin:  3px 9px;
    transition: 0.2s;
}
.drawer li a {
    display: block;
    padding: 8px;
    width: max-content;
}
.drawer li:hover { transform: translateX(40px); }
.drawer .close-btn {
    font-size: 33px;
    position: absolute;
    top: 13px;
    right: 19px;
}

/* Hero */
.hero {
    background: url('../public/images/heros/hero-image_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    font-family: 'Rancho', Helvetica, sans-serif;
}
.hero .container {height: 100%;}
.head {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.623);
    -webkit-text-shadow: 0 0 5px rgba(0, 0, 0, 0.623);
    margin-block-start: 0;
    margin-block-end: 0;
}
h1.head {font-size: 2.9em;}
h2.head {font-size: 1.8em;}

/* Main Content */
#main-content {
    min-height: 84vh;
}

#main-content h3 {
    font-size: 1.4em;
    margin-block-end: 5px;
}

.label {
    margin-block-start: 4px;
    margin-block-end: 2px;
}

.category-container,
.pagination-container {
    margin-bottom: 20px;
}

.ctg-button {
    width: 27%;
    min-width: 44px;
    min-height: 44px;
}

.pg-button {
    height: 44px;
    width: 44px;
    margin: 0 1.2vw;
}

.ctg-button,
.pg-button {
    display: inline-block;
    font-size: 18px;
    border: 2px solid #004d40;
    border-radius: 5px;
    background-color: #fff;
    transition: .2s;
}
.ctg-button:hover,
.ctg-button.active,
.pg-button:hover,
.pg-button.active {
    background-color: #004d40;
    color: #fff;
} 

.card {
    -webkit-box-shadow: 0 0 15px 6px rgba(235,235,235,1);
    box-shadow: 0 0 15px 6px rgba(235,235,235,1);
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 35px;
}
.card-link {
    padding: 0;
}

.card-img {
    display: flex;
    width: 100%;
}
.card-img img {
    max-height: 271px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.card-img span {
    position: relative;
    display: block;
    top: 10%;
    left: -112%;
    background-color: #D6A685;
    border-radius: 5px;
    padding: 5px 7px 2px 50px;
    height: fit-content;
    z-index: 6;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 13px;
}

.card-title {
    margin-block-start: 0.5em;
    margin-block-end: 2px;
    font-size: 1.3em;
    width: 100%;
}
.card .rating { width: 100%; }
.fa-star { color: rgb(255, 193, 59); }
.card-desc,
.description {
    width: 100%;
    margin-block-start: 10px;
    margin-block-end: 10px;
    text-align: justify;
}

/* Footer */
footer {
    position: relative;
    z-index: 10;
}
footer p {
    color: #fff;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

/* Skip to content */
a#skip {
    font-family: Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -90px;
    font-size: 20px;
    color: #fff;
    background-color: #204146;
    padding: 10px;
}

a#skip:focus { top: 90px; }

/* Loading */
#loading {
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    background: #fff;
    justify-content: center;
}

.loading {
    font-size: 4em;
    letter-spacing: 4px;
}

.loading span {
    display: inline-block;
}
.loading span.play {
    animation: loadingAnimation .5s ease-in-out 0s 2 alternate both;
}

@keyframes loadingAnimation {
    from {transform: translate(0, 0) rotate(0deg);}
    to {transform: translate(0, -40px) rotate(-15deg)}
}

.error {
    color: #c21616;
    font-size: 3rem;
    font-weight: 600;
}

/* Detail */
.header {
    margin-top: 20px;
    margin-bottom: 3px;
}

.header h1,
.header h2 {
    margin-block-start: 0;
    margin-block-end: .2em;
    width: 100%;
}

.section-title {
    font-size: 1.45em;
    margin-block-end: .3em;
}

.description {text-indent: 1.5em;}
.description::first-letter {font-size: 1.8em;}

.info {
    margin-block-start: 5px;
    margin-block-end: 5px;
    width: 100%;
}

p.rating {
    font-size: 1.25em;
    margin-block-start: 10px;
    margin-block-end: 20px;
}

.menu.container {
    background-image: url('../public/images/bg-menu.jpg');
    background-position: right top;
    background-size: 70px 137px;
    padding: 15px 0;
    margin: 25px 0;
    color: #fff;
}

.menu-list li {
    margin-bottom: 5px;
    list-style-type: circle;
}

[class*='review-'] {
    width: 100%;
    margin-block-start: 0;
    margin-block-end: .2em;
}
.review-date {
    color: rgb(196, 196, 196);
    font-size: 13px;
    margin-bottom: 20px;
}
.review-text {
    margin-top: 5px;
}

.save-button {
    display: block;
    position: sticky;
    bottom: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: unset;
    border-width: 0;
    min-width: 43px;
    min-height: 43px;
}
.save-button i {
    font-size: 37px;
    color: #c21616;
}

#form-review .col {
    margin-bottom: 10px;
}

.label-form {
    transition: .35s;
    transform: translate(12px, 33px);
    color: rgb(196, 196, 196);
}
.label-form.active {
    color: black;
    transform: translate(0, 0);
}

.input-form,
#send-button {
    font-family: 'Neucha', Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 13px 11px 9px;
    resize: vertical;
    border: 1px solid #00695c;
    border-radius: 4px;
    min-height: 44px;
}

#send-button {
    margin-top: 10px;
    background-color: #00695c;
    color: #fff;
    width: 35%;
}

#send-button.disabled {background-color: #26a69a;}

#form-review .info {
    display: none;
    color: #c21616;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2.5s;
}
.modal .row {
    transition: .3s;
    transform: scale(0);
}
.modal .row.show {transform: scale(1);}
.modal .col {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 77, 64, 0.699);
    box-shadow: 0 2px 14px 0 rgba(0, 77, 64, 0.699);
    border-radius: 10px;
    padding: 15px 10px;
}
.modal i {
    font-size: 4em;
}
.modal p {
    font-size: 2em;
    margin-block-start: .2em;
    margin-block-end: .2em;
}

.error {
    color: #ff4444;
}
.success {
    color: #00C851;
}